<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet"> 
    <style>
        *{
            font-family: 'Catamaran', sans-serif;
        }
        h1{
            text-align: center;
        }
        body{
            background:url("../images/registration.jpg") no-repeat center center/cover ;
            height:100%;
            width:100%;
        }

        .main{
            border:1px solid #1b2b231b;
            height:100vh;
            /* padding: 5% 20% */
        }
        div.box span > a{
            text-decoration: none;
            background-color:#3E5753;
            color:aliceblue;
            border:2px solid black;
            margin-right:5%;
            padding:10px 50px;
            width:200px;
            font-size: 18px;
        
        }
        div.box span#lbtn > a{
            margin-right: 3%;
        }
        div.box{
            margin-top:37%;
            padding-left:31% ;

        }
      
    </style>
</head>
<body>
    
    
    <h1>this is admin file</h1>
    <div class="main">

        <div class="box">
            <span>
                <a class="center" href="adminlog/request">patient request</a>
                <a class="center" href="adminlog/vp">view patients
                <a class="center" href="adminlog/add">add doctor</a>

                </a>   
            </span><br>
            </span><br>
           
        </div>
    </div>
   
        
      
</body>
</html>