<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> view prescription</h1>

    <div class="loginbox">
        <form action="/adminlog/pp" method="POST">
             <h3 class="center">Doctor add</h2>

             <p>Email  :</p>
             <input name="pname" class="gmail" type="text" placeholder="Enter Username">

             <p>password </p>
             <input name="ppass" class="item" type="text" placeholder="password">

             <p>department</p>
             <select name="dept" id="sldept">
                        
                <option name="dept" value="Cardiology">Cardiology</option>
                <option name="dept" value="Neurology">Neurology</option>
                <option name="dept" value="medicine">medicine</option>
                <option name="dept" value="Orthopedic">Orthopedic</option>
                <option name="dept" value="Gynecology">Gynecology</option>
                <option name="dept" value="Dermatology">Dermatology</option>
                <option name="dept" value="Radiology">Radiology</option>
                <option name="dept" value="Psychiatric">Psychiatric</option>
                <option name="dept" value="Ophthalmology">Ophthalmology</option>
            </select>
             
             <input type="submit" value="Sign In">
 
         </form>
</body>
</html>
